.col-left {
    float: left;
    height: 100vh;
    width: 200px;
}
.clear-left {
    clear: left;
}

.col-right {
    overflow:auto;
    height: 100vh;
    background-color:#222222;
    padding-bottom: 80px;
}
.top-ref {
    height: 300px;
    width: 600px;
    display: flex;
    margin: 40px auto;
    
    padding: 10px;
    background-color: #333;
    -webkit-box-shadow: -4px 19px 26px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 19px 26px -4px rgba(0,0,0,0.75);
box-shadow: -4px 19px 26px -4px rgba(0,0,0,0.75);
}

.top-ref-image {
    float: left;
    height: 280px;
    width: 280px;
    margin-right: 30px;
}

.top-ref-artist {
    height: 400px;
    width: 800px;
    display: flex;
    margin: 40px auto;
    
    padding: 10px;
    background-color: #333;
    -webkit-box-shadow: -4px 19px 26px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 19px 26px -4px rgba(0,0,0,0.75);
box-shadow: -4px 19px 26px -4px rgba(0,0,0,0.75);
overflow: auto;
}

.top-ref-artist-image {
    float: left;
    height: 380px;
    width: 380px;
    margin-right: 30px;
}

.card-link {
    color: #222;
    font-decoration: none;
    font-size: 12px;
}

.card-link:hover {
    color: #222;
    font-decoration: none
}
.page-store {
    width: 990px;
    margin: 10px auto;
}

.window {
    background-color: #334;
    width: 200px;
    height: 20vh;
}

.user {
    width: 200px;
    height: 20vh;
    padding: 10px;
    display: table; 
}

.genres {
    width: 200px;
    height: 30vh;
    padding: 10px;
    background-color: green; 
}


.player {
    width: 200px;
    height: 50vh;
    text-align: center;
    overflow: hidden;
    background-color: #111;
}

.track-img {
    width: 160px;
    height: 160px;
    margin: 20px auto;
}

.img-unwrapped {
    width: 200px;
    height: 200px;
}

.play-btn {
    margin: 0 auto;
    
}

.from-top {
    text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}

.search-bar {
    border-radius: 30px;
    width: 220px;
    align-self: center;
    margin: 10px auto;
}
.margin-around {
    margin: 10px;
}
.track-card {
    position: relative;
    width: 145px;
    height: 270px;
    float: left;
    border: 2px solid #333;
    margin: 10px;
    padding: 0px !important;
    -webkit-box-shadow: 6px 10px 35px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 35px 1px rgba(0,0,0,0.75);
box-shadow: 6px 10px 35px 1px rgba(0,0,0,0.75);
background-color: #DCDCDC;
    color: #333;
    overflow: hidden;
}
.track-card:hover .overlay{
    opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #777;
}
.extra-margin-top {
    margin-top: 45px;
}


.clear-both {
    clear: both;
}

.card-img {
    height: 145px;
    width: 145px;
    display:block;
  margin-left:auto;
  margin-right:auto;
}


td {
    vertical-align: middle !important;
}

.tracks--table--progress {
    height: 15px;
    padding-top: 20px !important;
}

.progress {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.right-margin {
    margin-bottom: 100px;
}


#audio {
    width: 100%;
}